<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a href="/tasks/index" class="nav-link text-white">Tasks</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto align-items-center">
      <% if (user) { %>
      <li class="nav-item">
        <p class="nav-link mb-0 py-2" style="cursor: default; font-size:0.92em;">Hello, <%= user.name %>!</p>
      </li>
      <% } %>

      <% if (!user) { %>
      <li class="nav-item">
        <a class="nav-link" href="/login/index">Login</a>
      </li>
      <% } else { %>
      <li class="nav-item">
        <form action="/logout" method="POST" style="display: flex; align-items: center; margin: 0;">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer; padding: 0.5rem 1rem; margin: 0; height: auto; line-height: inherit;">Logout</button>
        </form>
      </li>
      <% } %>
    </ul>
  </div>
</nav>